/* YOUR CUSTOM STYLES */
html,
body,
.view {
    height: 100%;
}

.view {
    background: url("/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-header, #main-header-paragraph {
color: #FFFFFF;
}

/*.flex-center {*/
    /*color: #fff;*/
/*}*/

.navbar {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #4285f4;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285f4;
    }
}
/*skills*/
.feature-box .features-big .fa {
    font-size: 4rem;
    padding: inherit;
}
.z-depth-0, .section .map-container img, .card-cascade.wider, .card-cascade-2 {
    box-shadow: none !important;
}